<a href="https://colab.research.google.com/github/Dumas07/Actividad-2-Valores-Nulos-/blob/main/Valores_Nulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importamos las librerias pandas, numpy y matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Cargar archivo csv
from google.colab import files
files.upload()

In [ ]:
#Carga desde un archivo .csv sin indice
data = pd.read_csv('Ventas_totales.csv')
data.head(5)

In [ ]:
#Eliminar la primera fila o filas innecesarias
data1 =pd.read_csv("Ventas_totales.csv", skiprows = 0)
data1

In [17]:
#Eliminar la primera fila o filas innecesarias
#data2 = data.drop(["indice_tiempo"], axis = 0)
#data2

In [ ]:
#Identificar valores nulos por columna (cantidad de valores nulos)
valores_nulos = data.isnull().sum()
valores_nulos

**Aquí verificamos qué columnas de información tenían datos nulos y cuántos tenían**

In [ ]:
#Copiamos los valores de la tabla inicial
data1 = data.copy()
data1

In [ ]:
#Primer método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data1["salon_ventas"] = data1["salon_ventas"].fillna(round(data["salon_ventas"].mean(),1))
data1

In [ ]:
#Verificamos valores nulos
valores_nulos = data1.isnull().sum()
valores_nulos

**Para este método, reemplazamos los valores cero en la columna "tarjeta_debito" con la mediana de los datos en la misma columna** segundo metodo

In [23]:
#Segundo método de sustitución de valores nulos
#Sustituir valores nulos con mediana
data1["tarjetas_debito"] = data1["tarjetas_debito"].fillna(round(data["tarjetas_debito"].median(),1))

In [ ]:
#verificamos valores nulos
valores_nulos = data1.isnull().sum()
valores_nulos

**En este método sustituimos los valores nulos de la columna "tarjetas_credito" por un valor en específico** Tercer metodo

In [27]:
#Tercer método de sustitución de valores nulos
#Sustituir valores nulos por un valor numérico en concreto
data1["tarjetas_credito"] = data1["tarjetas_credito"].fillna(7834722.1)

In [ ]:
#Verificamos valores nulos
valores_nulos = data1.isnull().sum()
valores_nulos

In [29]:
#Sustituir los valores nulos por valores no nulos hacia adelante "forward fill" ("ffill")
#Filtro por columnas
data1["otros_medios"] = data1["otros_medios"].fillna(method="ffill")

In [ ]:
#Verificamos valores nulos
valores_nulos = data1.isnull().sum()
valores_nulos

In [31]:
#Sustituir valores nulos por valores no nulos hacia atrás backwardfill ("bfill")
#Filtro por columnas
data1["subtotal_ventas_alimentos_bebidas"]=data1["subtotal_ventas_alimentos_bebidas"].fillna(method="bfill")

In [ ]:
#Verificamos los valores nulos
valores_nulos = data1.isnull().sum()
valores_nulos

**Repetimos las técnicas de sustitución de valores para llenar los huecos con valores nulos**

In [33]:
#Sustituir valores nulos por valores no nulos hacia atrás backwardfill
#Sexto método de sustitución
data1["bebidas"] = data1["bebidas"].fillna(method="bfill")

In [34]:
#Sustituir valores nulos por valores no nulos hacia atrás backwardfill
#Sexto método de sustitución
data1["almacen"] = data1["almacen"].fillna(method="bfill")

In [35]:
#Sustituir valores nulos por valores no nulos hacia atrás backwardfill
#Sexto método de sustitución
data1["panaderia"] = data1["panaderia"].fillna(method="bfill")

In [36]:
#Sustituir valores nulos por valores no nulos hacia adelante ("ffill")
#Quinto método de sustitución
data1["lacteos"]=data1["lacteos"].fillna(method="ffill")

In [37]:
#Sustituir valores nulos con mediana
#Segundo método de sustitución de valores nulos
data1["carnes"] = data1["carnes"].fillna(round(data["carnes"].median(),1))

In [38]:
#Sustituir valores nulos con promedio o media
#Primer método de sustitución de valores nulos
data1["verduleria_fruteria"] = data1["verduleria_fruteria"].fillna(round(data["verduleria_fruteria"].mean(),1))

In [39]:
#Sustituir valores nulos con promedio o media
#Primer método de sustitución de valores nulos
data1["alimentos_preparados_rotiseria"] = data1["alimentos_preparados_rotiseria"].fillna(round(data["alimentos_preparados_rotiseria"].mean(),1))

In [40]:
#Sustituir valores nulos por valores no nulos hacia adelante ("ffill")
#Quinto método de sustitución
data1["indumentaria_calzado_textiles_hogar"]=data1["indumentaria_calzado_textiles_hogar"].fillna(method="ffill")

In [41]:
#Sustituir valores nulos por valores no nulos hacia adelante ("ffill")
#Quinto método de sustitución
data1["electronicos_articulos_hogar"]=data1["electronicos_articulos_hogar"].fillna(method="ffill")

In [42]:
#Sustituir valores nulos por valores no nulos hacia adelante ("ffill")
#Quinto método de sustitución
data1["otros"]=data1["otros"].fillna(method="ffill")

In [ ]:
#Verificamos los valores nulos
valores_nulos = data1.isnull().sum()
valores_nulos